form {
  display: flex;
  flex-direction: column;
}

input {
  border-width: 1px;
  border-style: solid;
  padding: 5px;
  height: 40px;
  margin-bottom: 10px;
  margin-top: 5px;
  color: black;
  border-radius: 5px;
  background-color: #e7ecf5;
}

button {
  padding: 8px;
  background-color: #2f3061;
  margin-top: 5px;
  border-width: 2px;
  border-color: #2f3061;
  border-radius: 5px;
  border-style: solid;
  color: white;
}

button:active {
  opacity: 0.9;
  border-color: #282853;
}

fieldset {
  margin-bottom: 10px;
}

input#shiftInput {
  max-width: fit-content;
}

label.radio {
  display: flex;
  align-items: center;
  height: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shift-container {
  display: flex;
  flex-direction: column;
}
